@font-face {
    font-family: PlusJakartaSans;
    src: url(../font/PlusJakartaSans-VariableFont_wght.ttf) format('truetype');
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: PlusJakartaSans;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
    height: 150px;
    /* background-color: aqua; */
    z-index: 0;

    .img {
        display: flex;
        justify-content: center;
        padding-top: 2.5%;
    }
}

.custom-list {
    position: absolute;
    top: 7%;
    left: 7%;
    width: 26%;
    height: 50px;
    /* background-color: aquamarine; */

    .list {
        display: inline-block;
        margin-left: 20px;
    }

}

.logo {
    img {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 72%;
        top: 8.5%;
    }

    input {
        border-radius: 7px;
        border: #EEEEEE solid 2px;
        position: absolute;
        top: 7%;
        left: 70.7%;
        padding-left: 50px;
        width: 230px;
        height: 40px;
        outline: none;
    }

    .icons {
        position: absolute;
        top: 8.5%;
        left: 80%;
        padding-left: 9.9%;
    }
}

@media screen and (max-width: 660px) {
    .header {
        .custom-list{
            width: 60%;
            margin: 5px;
            font-size: 10px;
        }
    }
    .logo{
        input{
            transform: scale(0.7);
            position: absolute;
            left: 64%;
            width: 26%;
        }
        img{
            transform: scale(0.7);
            left: 70%;
        }
        .icons{
            transform: scale(0.7);
            padding-left: 70px;
        }
    }
}
@media screen and (min-width: 661px) and (max-width: 1200px) {
    .header {
        .custom-list{
            width: 60%;
            margin: 20px 10px 0 0;
            font-size: 15px;
        }
    }
    .logo{
        input{
            transform: scale(0.9);
            position: absolute;
            left: 64%;
            width: 26%;
        }
        img{
            transform: scale(0.9);
            left: 70%;
        }
        .icons{
            transform: scale(0.9);
            padding-left: 70px;
        }
    }
}