@font-face {
    font-family: PlusJakartaSans;
    src: url(../font/PlusJakartaSans-VariableFont_wght.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: PlusJakartaSans;

}

a {
    text-decoration: none;
    color: black;
}

li,
ul {
    list-style: none;
}

header {
    /* background-color: aqua; */
    height: 150px;
    width: 100%;
}

.custom-rectangle {
    margin-left: 100px;
    /* background-color: aquamarine; */
    width: 400px;
    display: flex;
    align-items: center;
    position: relative;
}

li,
a {
    display: inline-block;
    margin: 15px 10px 0 5px;
}

.logo {
    /* background-color: rebeccapurple; */
    margin: -100px 20px 20px 45%;
}

.search {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 66.1%;
    top: 7.5%;
}

.option {
    /* background-color: palevioletred; */
    float: right;
    margin: -3% 10% 0 0;
}

input {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    padding-left: 35px;
    font-size: 15px;
    border: 2px solid #9B9B9B;
}

.notification {
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px;
}

.icons {
    /* background-color: aqua; */
    margin-left: 20px;
}

.layout1 {
    /* background-color: aqua; */
    width: 100%;
    position: relative;
    margin-top: 0.49%;
}

.layout2 {
    /* background-color: rebeccapurple; */
    position: absolute;
    width: 80%;
    left: 10%;
    display: flex; 
    text-align: center;
    margin: 100px 0 0 0;
}
.title {
    /* background-color: aqua; */
    width: 30%;
    padding: 20px 10px 10px;
    b{
        float: left;
        margin: 0 0 0 25px;
    }
    input{
        padding: 25px;
        margin: 20px 50px 20px 0;
    }
    .search{
        margin: -5.2% 0 0 -45%;
        opacity: 0.5;
    }
}

.choose {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
}
.title-1 {
    /* background-color: azure; */
    margin: 10px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px 0 0 15px; 
}
.number {
    /* background-color: antiquewhite; */
    padding: 5px 10px; 
    border-radius: 5px;
    float: right;
}
.choose-2{
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
}
.title-2{
    margin: 10px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px 0 0 15px; 
    b{
        text-align: left;
    }
}
.word-special{
    display: inline-block;
    font-size: small;
    /* background-color: antiquewhite; */
    position: absolute;
    margin: -24% 0 0 36%;
}
.tags{
    margin-top: 20px;
    input{
        float:  left;
        width: auto;
        height: -10px;
        border: none;
        border-radius: 4px;
        margin: 5px;
        color: #7E7E7E;
        padding: 5px;
    }
}
.content {
    /* background-color: green; */
    width: 70%;
    padding: 20px;
    word-spacing: 5px;
   input{
        text-align: center;
        width: auto;
        padding: 5px 10px 0 10px;
        color: #2EBB77;
        background-color: #F5F5F5;
        border: none;
   }
   img{
    margin-left: 30px;
   }
}
.text{
    font-size: large;
}
.picture-paper{
    background-size: cover;
    img{
        width: 100%;
        margin-left: 0;
        margin-top: 25px;
    }
}
.Blockquote{
   margin: 5% 0 0 0;
}
.text-1{
    text-align: left;
    color: #7E7E7E;
    float: left;
    margin-top: 30px;
}
.share{
    position: absolute;
    top: 68.2%;
    b{
        position: absolute;
        top: 35.2%;
        right: 105%;
    }
    right: 2%;
    a{
        margin: 0;
    }
    img{
        margin: 0;
    }
}
.hr-1{
    position: relative;
    top: 2%;
    width: 100%;
    background-color: #EEEEEE;
}
.hr-2{
    position: relative;
    top: 2%;
    width: 100%;
    background-color: #EEEEEE;
}
.img-arrow{ 
    float: left;
    margin: 8% 0 0 0;
    cursor: pointer;
}
.back{
    float: left;
    margin: 6% 0 0 1%;
}
.Comments{
    margin-top: 4.5%;
    img{
        padding-top: 3%;
        margin-left: 0;
    }
}
.main-comment
{
    /* background-color: green; */
    margin: 0;
    width: 80%;
    float: right;
    text-align: left;
    word-spacing: 5px;
    a{
        margin-top: 40px;
        text-decoration: underline;
    }
}
.hidden {
    display: none;
}