@font-face {
  font-family: PlusJakartaSans;
  src: url(../font/PlusJakartaSans-VariableFont_wght.ttf) format('truetype');
}

html,body{
  font-family: PlusJakartaSans;
}
  header {
    .header_body {
        width: 100%;
        height: 60px;
        margin-bottom: 2%;
        position: relative;

        .menu {
            position: absolute;
            display: flex;
            justify-content: center;
            height: 60px;
            left: 2%;

            .list-menu {
                display: flex;
                justify-content: center;
                align-items: center;


                .menu1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    .menu2 {
                        color: #000000;
                        font-size: 15px;
                        margin-right: 20px;
                        font-weight: bold;
                    }

                    .menu2:hover {
                        color: #2EBB77;
                    }
                }

                .dropdown {
                    display: none;
                    position: absolute;
                    background-color: #fff;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    z-index: 1;
                    top: 100%;
                    left: 0;
                    width: max-content;
                    white-space: nowrap;
                }

                .menu1:hover .dropdown {
                    display: block;
                }

                .dropdown a {
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: #000;
                }

                .dropdown a:hover {
                    background-color: #f0f0f0;
                }

            }
        }

        .box_logo {
            position: relative;
            z-index: -1;
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
                width: 180px;
                height: 48px;
            }
        }

        .icon {
            position: absolute;
            height: 60px;
            right: 2%;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon_menu {
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }

            button {
                box-sizing: border-box;
                width: 134.94px;
                height: 48px;
                left: 30px;
                top: 0px;
                background-color: white;
                border: 2px solid #EEEEEE;
                border-radius: 12px;

            }
        }
    }

    .banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: #F5F5F5;

      .text_bold {
          font-weight: bold;
          font-size: 40px;
      }

      .text_medium {
          display: flex;
          font-size: 15px;
          color: #7E7E7E;
          margin-bottom: 2%;

          hr {
              margin: 10px;
              width: 20px;
          }
      }
  }
}
  /******/
  .menu1_1 li{
    position: relative;
    margin: 10px 0px;
  }
  .menu1_1 ul.sub_menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding-left: 0px;
    margin: 0px;
  }
  .menu1_1  ul.sub_menu a {
    display: flex;
    width: 115px;
    padding: 10px 15px;
    left: 0%;
}
.menu1_1 ul.sub_menu li:hover>a{
  background-color: #2EBB77;
  color: white;
}
.menu1_1 ul.sub_menu li:last-child a{
  border: none;
}
.menu1_1 ul.sub_menu ul.sub_menu{
  left: 145px;
  top: -10px;
}
.menu1_1 li:hover> ul.sub_menu {
  display: block;
}
  /******/
  .logo{
  
  display: flex;
  justify-content: center;
  }
  .menu1_1{
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
  
  }
  .menu1_1 li {
  list-style-type: none; 
  }
  a{
  text-decoration: none;
  color: #000;
  }
  .menu1_1 li a:hover {
  color: #2EBB77; 
  }
  .search{
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4%;
  }
  .search img {
  width: 20px;
  height: 20px;
  }
  
  .search_1 {
    border: 2px solid #EEEEEE;
    border-radius: 12px;
    width: 220px;
    height: 52px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap:14px;
  }
  #search{
  border: none;
  }
  .icone{
  padding-left: 24px;
  }
  .banner{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 375px 70px 375px;
    
    }
    .banner p{
    color: #000;
    font-size: 40px;
    font-weight: bold;
    }
    .banner1{
    display: flex;
    height: 19px;
    justify-content: center;
    margin-bottom: 3%;
    
    }
    .banner1 hr{
    width: 15px;
    margin: 10px;
    }
    #banner1{
    color: #000;
    font-weight: bold;
    }
    /*---*/
    section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .section{
        display: flex;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 25px;
    }
    .text14{
        color: #000;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .text40{
        font-size: 40px;
        font-weight: bold;
    }
    .section1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 60px;
        padding-bottom: 40px;
    }
    .hoanhx{
        padding: 45px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .align{
        text-align: center;
    }
    #design{
        color: #B479D9;
        font-size: 18px;
        width: max-content;
        padding: 9px 17.688px 9.19px 18px;
        border-radius: 40px;
        background-color: rgba(180, 121, 217, 0.15);
        border: none;
        margin: 35px 0px;
    }
    #part2 {
        position: relative;
        display: inline-block;
    }
    
    #part2::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0; 
        height: 15px; 
        background: linear-gradient(91deg, #B1F1B3 2.11%, #F3EEC2 100%);
        z-index: -1; 
    }
    .section2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 60px;
        padding-bottom: 100px;
    }
    .section2_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
        padding: 15px;
        margin: 12px;
    }
    .section2_1 span{
        margin-top: 15px;
    }
    .section2_1 img{
        width: 100%;
    }
    #but{
        border-radius: 12px;
        background: #F5F5F5;
        color: #000;
        font-size: 16px;
        font-weight: bold;
        border: none;
        padding: 5px;
        width: 90%;
        margin-top: 20px;
    }
    .section3{
        margin-top: 40px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .img1{
        background: url(../duong_img/div.haru-banner__image.png) ;
        width: 90%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 3/4;
    }
    .img2{
        background: url(../duong_img/div1.png);
        width: 90%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 3/4;
    }
    .img3{
        background: url(../duong_img/div2.png);
        width: 90%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 3/4;
    }
    .img4{
        background: url(../duong_img/div3.png);
        width: 90%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 3/4;
    }
    #gii{
        display: flex;
        margin-top: 100%;
        padding-top: 10%;
        margin-right: 20%;
        margin-left: 10%;
    }
    .section5{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px;
        background-color: #f8f8f8;
    }
    .section6{
        width: 100%;
        margin: 60px 0px 100px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section5_1 img{
        width: 100%;
        padding: 15px;
    }
    .image-wrapper {
        transition: transform 0.8s ease, border 0.8s ease;
    }
    
    .image-wrapper:hover {
        transform: translateY(-20px);
        border: 2px solid black;
        border-radius: 12px;
    }
     .accordion-container{
      padding:0 20px;
    }
    
    .accordion{
      margin-bottom: 20px;
    }
    
     .accordion-container .accordion.active .accordion-heading{
      background: #2EBB77;
    }
    
     .accordion-container .accordion.active .accordion-heading h3{
      color:#fff;
    }
    
    
     .accordion-container .accordion.active .accordion-content{
      display: block;
     
    }
    
     .accordion-container .accordion .accordion-heading{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap:10px;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.13);
      padding:15px 20px;
    }
    
     .accordion-container .accordion .accordion-heading h3{
      font-size: 20px;;
    }
    
     
    
     .accordion-container .accordion .accordion-content{
      padding:15px 20px;
      font-size: 16px;
      color: #7E7E7E;
      background: #fff;
      display: none;
      animation: animate .2s linear backwards;
      line-height: 2;
      margin: 0px;
    }
    
    @keyframes animate {
      0%{
        transform: scaleY(0);
      }
    }
     /*---*/
    footer{
        display: flex;
        justify-content: center;
      }
      .design1 span{
        margin-bottom: 6px;
      }
      #foot{
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .foot1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 75%;
        margin: 60px 0px;
        
      }
      .foot1_1{
        display: flex;
        flex-direction: column;
        padding:15px 15px 0px 15px;
      }
      .foot1 span{
        margin-top: 14px;
      }
      .text16{
          font-size: 15px;
          color: #7E7E7E;
      }
      .text18{
        font-size: 18px;
        color: #000;
        font-weight: bold;
      }
      .text20{
        font-size: 20px;
        color: #000;
        font-weight: bold;
      }
      .text20_1{
        font-size: 20px;
        color: #000;
      }
      .text20_2{
        font-size: 20px;
        color: #7E7E7E;
      }
      .text24{
        font-size: 24px;
        color: #000;
        font-weight: bold;
      }
      .text24w{
        color: white;
        font-size: 24px;
        font-weight: bold;
      }
      .foot1_2{
        margin-top: 15px;
        display: flex;
        align-items: center;
      }
      .foot1_2 img{
        margin-right: 20px;
      }
      #fix1{
        margin-right: 10px;
      }