a{
    text-decoration: none;
    color: black;
}
@font-face {
    font-family: PlusJakartaSans;
    src: url(../font/PlusJakartaSans-VariableFont_wght.ttf) format('truetype');
}
body, html{
    margin: 0;
    padding: 0;
    font-family: PlusJakartaSans;
}
.rectangle-login{
    width: 734px;
    height: 368px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    img{
        width: 234px;
        height: 368px;
    }
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    p{
        position: absolute;
        top: -11%;
        left: 37%;
        color: #567281;
        font-size: 40px;
        b{
            color: #7A999C;
        }
    }
    a{
    text-decoration: none;
    margin-left: 24px;
    font-size: 36px;
    color: #5F7C8D;
    }
}
.method{
    position: absolute;
    top: 14%;
    left: 50%;      
}


a:focus,
a:hover,
a:active
{
    text-decoration: underline ;
    color: #5F7C8D;
}
.info{
    position: absolute;
    top: 25%;
    left: 53%;
    width: 235px;
    input{
        border: none;
        outline: none;
        padding-left: 20px;
    }
    hr{
        margin-top: 0;
        background-color: #5F7C8D;
        height: 2px;
        margin-bottom: 0;
    }
}
.error{
    position: absolute;
    top: 78%;
    left: 53.5%;
    height: 20px;
    /* background-color: aqua; */
    color: red;
    font-size: 15px;
}
.send{
    position: absolute;
    top: 78%;
    left: 53.3%;
    input{
        width: 240px;
        height: 35px;
        border: none;
        background-color: #567281;
        color: #FFFFFF;
    }
}
.option
{
    position: absolute;
    top: 80%;
    left: 54.5%;
    font-size: 20px;
    img{
        width: 30px;
        height: 30px;
        padding-top: 18px;
        padding-left: 30px;
    }
    p{
        padding-left: 40px;
        padding-top: 10px;
        font-size: 20px;
    }
}
/* _____________HEADER__________ */
.box-header{
    width: 100%;
    height: 150px;
    /* background-color: #5F7C8D; */
    .img{
        justify-content: center;
        display: flex;
        padding: 56.5px;
        /* background-color: aqua; */
    }
    .box-1{
        position: absolute;
        width: 24%;
        height: 20px;
        margin-left: 10%;
        margin-top: 6%;
        /* background-color: bisque; */
        .custom-list{
            display: inline-block;
            padding-left: 25px;
        }
    }
    .box-2{
        position: absolute;
        margin-top: 60px;
        width: 15%;
        /* background-color: red; */
        left: 80%;
        top: 0;
        .hotline{
            position: absolute;
            left: 40%;
            top: 5%;
            width: 50%;
            height: 40px;
            /* background-color: #7A999C; */
        }
    }
}
.show-list{
    background-color: #5F7C8D;
    width: 100%;
    height: 50px;
}
/* _____________HEADER__________ */
/* _____________FOOTER__________ */
footer {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 92%;
    width: 100%;
    .foot1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 40px;

        .foot1_a {
            display: flex;
            width: 90%;

            .box {
                float: left;
                width: 25%;
                display: flex;
                flex-direction: column;

                .teespace {
                    display: flex;
                    align-items: center;
                    height: 40px;
                    margin-bottom: 20px;

                    p {
                        font-weight: bold;
                        font-size: 25px;
                    }
                }

                .text {
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    font-size: 20px;
                    color: black;
                }

                a {
                    margin-bottom: 20px;
                    color: gray;
                }

                .social_task {
                    display: flex;

                    .size_icon {
                        margin-right: 5%;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    i {
        margin: 10px;
    }

    padding-top: 5px;

    .foot2 {
        margin-top: 2%;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pay {
            width: 45px;
            height: 32px;
            border-radius: 5px;
        }
    }
}
/* _____________FOOTER__________ */
/* ______________MEDIA__________ */
@media screen and (max-width: 660px){
    .box-header{
        .box-1{
            position: absolute;
            top: 10%;
            left: -12%;
            width: 55%;
            .custom-list{
                a{
                    font-size: 13px;
                }
            }
        }
        .img{
            position: absolute;
            left: 25%;
        }
        .box-2{
            position: absolute;
            left: 75%;
            top: 5%;
            width: 25%;
            img{
                    width: 30%;
                    height: 50%;
            }
            .hotline
            {
                font-size: 14px;
                
                a{
                    font-size: 8px;
                }
            }
        }
    }
    .rectangle-login
    {
        width: 70%;
        height: 60%;
        img{
            display: none;
        }
        p{
            font-size: 20px;
            top: 0;
            left: 32%;
            b{
                color: #7A999C;
            }
        }
    }
    .method{
        left: 16%;
        top: 15%;
        a{
            font-size: 20px;
        }
    }
    a{
        font-size: 20px;
    }
    .info{
        position: absolute;
        left: 20%;
        top: 30%;
        text-align: left;
    }
    hr{
        position:relative;
    }
    .send{
        position: absolute;
        top: 78%;
        left: 20%;
    }
    .error{
        left: 20%;
    }
    footer {
        position: absolute;
        top:92%;
        .foot1 {
            .foot1_a {
                .box {
                    .teespace {
                        p {
                            font-size: 10px;
                        }
                    }

                    a {
                        font-size: 10px;

                    }

                    .text {
                        font-size: 10px;
                    }
                }
            }
        }
    }

}
@media screen and (min-width: 661px)and (max-width: 1260px){
    .box-header{
        .box-1{
            position: absolute;
            top: 8%;
            left: -6%;
            width: 53%;
            white-space: nowrap;
            .custom-list{
                a{
                    font-size: 16px;
                }
            }
        }
        .img{
            position: absolute;
            left: 35%;
        }
        .box-2{
            position: absolute;
            left: 75%;
            top: 5%;
            width: 25%;
            .hotline
            {
                font-size: 14px;
                white-space: nowrap;
                a{
                    font-size: 15px;
                }
            }
        }
    }
    .rectangle-login
    {
        width: 70%;
        height: 60%;
        .media{
            /* background-color: aqua; */
            height: 100%;
            position: absolute;
            img{
                width: 100%;
                height: 100%;
            }
        }
        p{
            font-size: 25px;
            top: 0;
            left: 35%;
            b{
                color: #7A999C;
            }
        }
    }
    .method{
        left: 50%;
        top: 15%;
        a{
            font-size: 30px;
        }
    }
    a{
        font-size: 20px;
    }
    .info{
        position: absolute;
        left: 54%;
        top: 35%;
        text-align: left;
    }
    hr{
        position:relative;
    }
    .send{
        position: absolute;
        top: 65%;
        left: 54%;
    }
    .option
    {
        position: absolute;
        left: 57.5%;
        img{
            display: inline;
            margin-top: 7.6%;
            padding-left: 15px;
        }
        p{
            font-size: 18px;
        }
    }
    .error{
        left: 20%;
    }
    footer {
        position: absolute;
        top:92%;
        .foot1 {
            .foot1_a {
                .box {
                    .teespace {
                        p {
                            font-size: 15px;
                        }
                    }

                    a {
                        font-size: 10px;

                    }

                    .text {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}
/* _____________MEDIA____________ */
